@use "../../Styles/mixins.scss";
@use "../../Styles/variables.scss";

.bestGear {
  @include mixins.center;
  margin-top: 7rem;

  @media (min-width: 992px) {
    display: flex;
    flex-direction: row-reverse;
    gap: 95px;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
  }

  &_infoContainer {
    text-align: center;

    @media (min-width: 768px) {
      max-width: 580px;
      margin: 0 auto;
    }

    @media (min-width: 992px) {
      max-width: 465px;
      text-align: left;
      margin-left: 0;
    }
  }

  img {
    width: 100%;
    border-radius: variables.$radius;
  }

  h3 {
    @include mixins.h3;

    span {
      color: variables.$light-brown;
    }

    @media (min-width: 768px) {
      font-size: 2.5rem;
      max-width: 573px;
      margin: 4rem auto 2rem;
    }
  }

  p {
    @include mixins.text;
    color: variables.$dark-grey;
    font-weight: 500;
  }
}
