@use "../../Styles/mixins.scss";

.pictureContainer {
  @include mixins.center;
  margin-top: 5.5rem;
  margin-bottom: calc(7.5rem - 1.25rem);

  img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 1.25rem;
  }
}
