@use "../../../../Styles/mixins.scss";

.xx59 {
  h4 {
    @include mixins.center;
    @include mixins.h4;
    margin-bottom: 2.5rem;
    text-align: center;
  }

  ul {
    @include mixins.ul;
    @include mixins.center;

    li {
      margin-bottom: 0.5rem;
    }
  }
}
