@use "../../../../Styles/mixins.scss";

.xx59 {
  &_inTheBoxContainer {
    @media (min-width: 768px) {
      display: flex;
    }

    @media (min-width: 992px) {
      flex-direction: column;
      flex-basis: 35%;
    }
  }

  h4 {
    @include mixins.center;
    @include mixins.h4;
    margin-bottom: 2.5rem;
    text-align: center;
  }

  &_featuresContainer {
    @include mixins.center;

    @media (min-width: 992px) {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 7.8125rem;
    }
  }

  &_seeProductContainer {
    @include mixins.seeProductContainer;
    @include mixins.center;
  }

  ul {
    @include mixins.ul;
    @include mixins.center;

    li {
      margin-bottom: 0.5rem;
    }
  }
}
