@use "../../../../Styles/mixins.scss";
@use "../../../../Styles/variables.scss";

.markII {
  &_mayLike_heading {
    text-align: center;
  }

  &_btn {
    button {
      border: unset;
      background-color: unset;
      color: variables.$black;
      font-weight: 500;
      line-height: 25px;
      font-size: 15px;
      opacity: 0.5;
      margin-top: 1rem;
      margin-bottom: 1.5rem;
    }
  }

  &_featuresContainer {
    @include mixins.center;

    @media (min-width: 992px) {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 7.8125rem;
    }
  }

  &_inTheBoxContainer {
    @media (min-width: 768px) {
      display: flex;
    }

    @media (min-width: 992px) {
      flex-direction: column;
      flex-basis: 35%;

      &_list {
        margin-left: 0;
      }
    }
  }

  &_inTheBox {
    @include mixins.center;
    margin-bottom: 1.5rem;

    @media (min-width: 768px) {
      margin-left: 0;
    }
  }

  &_seeProductContainer {
    @include mixins.seeProductContainer;
    @include mixins.center;
  }

  ul {
    @include mixins.ul;
    @include mixins.center;

    @media (min-width: 992px) {
      margin-left: 0;
    }

    li {
      margin-bottom: 0.5rem;
    }
  }

  h4 {
    @include mixins.h4;
    margin-bottom: 2.5rem;
  }
}
