@use "../../../../Styles/mixins.scss";
@use "../../../../Styles/variables.scss";

.markII {
  &_mayLike_heading {
    text-align: center;
  }

  &_btn {
    button {
      border: unset;
      background-color: unset;
      color: variables.$black;
      font-weight: 500;
      line-height: 25px;
      font-size: 15px;
      opacity: 0.5;
      margin-top: 1rem;
      margin-bottom: 1.5rem;
    }
  }

  &_inTheBox {
    @include mixins.center;
    margin-bottom: 1.5rem;
  }

  ul {
    @include mixins.ul;
    @include mixins.center;

    li {
      margin-bottom: 0.5rem;
    }
  }

  h4 {
    @include mixins.h4;
    margin-bottom: 2.5rem;
  }
}
