@use "../../../../Styles/mixins.scss";
@use "../../../../Styles/variables.scss";

.markII {
  &_btn {
    @include mixins.center;

    button {
      border: unset;
      background-color: unset;
      color: variables.$black;
      font-weight: 500;
      line-height: 25px;
      font-size: 15px;
      opacity: 0.5;
      margin-top: 1rem;
      margin-bottom: 1.5rem;
    }
  }
}
