@use "../../Styles/variables.scss";
@use "../../Styles/mixins.scss";

.hero {
  &_mainContainer {
    height: 40rem;
    width: 100%;
    background-color: variables.$light-black;
    background-image: url("../../Assets/Images/hero-headphones.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;

    @media (min-width: 768px) {
      background-image: url("../../Assets/Images/hero-headphones-tablet.jpg");
    }
  }

  &_textContainer {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    @include mixins.center;
    text-align: center;

    h5 {
      @include mixins.newProduct;
      color: variables.$white;
      opacity: 0.5;
    }

    h2 {
      color: variables.$white;
      @include mixins.h2;
    }

    p {
      color: variables.$light-grey;
      @include mixins.text;
    }

    button {
      @include mixins.orangeButton;
    }
  }
}
