@use "../../Styles/variables.scss";
@use "../../Styles/mixins.scss";

.hero {
  background-color: variables.$light-black;
  &_mainContainer {
    height: 33rem;
    background-image: url("../../Assets/Images/hero-headphones.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    position: relative;
    @include mixins.center;

    @media (min-width: 768px) {
      background-image: url("../../Assets/Images/hero-headphones-tablet.jpg");
    }

    @media (min-width: 992px) {
      background-image: url("../../Assets/Images/hero-headphones-desktop.jpg");
      background-size: 85rem;
      background-position: 50% -60px;
      padding-bottom: 9rem;
    }
  }

  &_textContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include mixins.center;
    text-align: center;
    max-width: 380px;

    @media (min-width: 992px) {
      text-align: left;
      left: 0;
      transform: translate(0, -50%);
    }

    h5 {
      @include mixins.newProduct;
      color: variables.$white;
      opacity: 0.5;
    }

    h2 {
      color: variables.$white;
      @include mixins.h2;

      @media (min-width: 768px) {
        font-size: 3.5rem;
        line-height: 58px;
        letter-spacing: 2px;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
      }
    }

    p {
      color: variables.$light-grey;
      @include mixins.text;
      opacity: 0.75;
    }

    button {
      @include mixins.orangeButton;

      &:hover {
        @include mixins.transition;
        background-color: variables.$peach;
      }
    }
  }
}
