@use "../../../../Styles/mixins.scss";

.markI {
  &_mayLike_heading {
    text-align: center;
  }

  &_inTheBoxContainer {
    @media (min-width: 768px) {
      display: flex;
    }
  }

  &_mayLike_heading,
  &_inTheBox {
    @include mixins.center;
    @include mixins.h4;
    margin-bottom: 2.5rem;
  }

  &_seeProductContainer {
    @include mixins.seeProductContainer;
  }

  ul {
    @include mixins.ul;
    @include mixins.center;

    li {
      margin-bottom: 0.5rem;
    }
  }
}
