@use "../../Styles/variables.scss";

.summaryItem {
  &_container {
    display: grid;
    // grid-gap: 1rem;
    align-items: center;
    grid-template-columns: 5.4rem auto;

    img {
      border-radius: variables.$radius;
      height: 64px;
      width: 64px;
    }
  }

  &_infoContainer {
    display: flex;
    flex-direction: column;
  }

  &_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &_qty,
  &_price {
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    color: variables.$black;
    opacity: 0.5;
  }

  &_title {
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
  }
}
