@use "../../Styles/mixins.scss";
@use "../../Styles/variables.scss";

.seeProduct {
  text-align: center;

  img {
    width: 100%;
    border-radius: variables.$radius;
    margin-bottom: 2rem;
  }

  h3 {
    @include mixins.h3;
    margin-top: 0;
    margin-bottom: calc(2rem - 1.5rem);
  }

  button {
    margin-top: 0;
    margin-bottom: 3.5rem;
    @include mixins.orangeButton;

    &:hover {
      @include mixins.transition;
      background-color: variables.$peach;
    }
  }

  @media (min-width: 768px) {
    width: 33%;
  }
}
