@use "./variables.scss";

// mixin to center items on page within container
@mixin center {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 24px;
}

// button mixins
@mixin button {
  border: none;
  cursor: pointer;
  padding: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
  font-weight: 700;
  margin-top: 1.5rem;
  line-height: 18px;
}

@mixin orangeButton {
  @include button;
  background-color: variables.$light-brown;
  color: variables.$white;
}

@mixin transparentButton {
  @include button;
  background-color: transparent;
  color: variables.$black;
  border: 1.5px solid black;
}

@mixin blackButton {
  @include button;
  background-color: variables.$black;
  color: variables.$white;
}

// mixin for text contained within paragpraph elements
@mixin text {
  letter-spacing: 0.25px;
  font-size: 15px;
  line-height: 25px;
  font-weight: 500;
}

// mixins for all heading elements
@mixin h2 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 1.29px;
  text-transform: uppercase;
}
@mixin h3 {
  font-size: 1.75rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 38.25px;
}

@mixin h4 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.85px;
  line-height: 36px;
}

@mixin h5 {
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 1.29px;
  text-transform: uppercase;
}

// mixin for the items with the new product sub-heading

@mixin newProduct {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-weight: 400;
}

// mixin to remove styling for any ul
@mixin ul {
  padding-left: 0;
}

// mixin for the increase and decrease quantity buttons as well as the quantity itself
@mixin qtyButtons {
  background-color: variables.$grey;
  color: rgba(0, 0, 0, 0.25);
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  border: none;
}

@mixin qty {
  background-color: variables.$grey;
  color: variables.$black;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
}

// checkout mixins
@mixin inputLabel {
  color: variables.$black;
  font-weight: 700;
  font-size: 12px;
  line-height: 16.39px;
  letter-spacing: -0.21px;
}

@mixin input {
  margin-top: 0.55rem;
  margin-bottom: 1.5rem;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
  padding-left: 1.5rem;
  border: 1px solid variables.$inputBorder;
  border-radius: variables.$radius;
}

@mixin checkoutValue {
  text-align: right;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}
