$main-font: "Manrope";

$main-black: #101010;
$light-brown: #d87d4a;
$grey: #f1f1f1;
$light-grey: #fafafa;
$dark-grey: #787878;
$peach: #fbaf85;
$white: #fff;
$black: #000;

// Responsive sizes
$md-breakPt: 768px;
$lg-breakPt: 1025px;
$xl-breakPt: 1200px;
