$main-font: "Manrope";

$main-black: #101010;
$light-black: #1a1a1a;
$black: #000;
$light-brown: #d87d4a;
$grey: #f1f1f1;
$light-grey: #fafafa;
$dark-grey: #787878;
$background-grey: #979797;
$peach: #fbaf85;
$white: #fff;
$inputBorder: #cfcfcf;
$inputError: #cd2c2c;
$greyButton: #4c4c4c;

// Responsive sizes
$md-breakPt: 768px;
$lg-breakPt: 1025px;
$xl-breakPt: 1200px;

// border-radius
$radius: 8px;
