@use "../../Styles/variables.scss";
@use "../../Styles/mixins.scss";

.zx7 {
  @include mixins.center;
  margin-top: 1.5rem;
  position: relative;
  img {
    max-width: 100%;
    border-radius: 10px;
  }

  &_info {
    position: absolute;
    translate: 10% -170%;

    h4 {
      @include mixins.h4;
    }

    button {
      @include mixins.transparentButton;
    }
  }
}
