@use "../../Styles/variables.scss";
@use "../../Styles/mixins.scss";

.zx7 {
  @include mixins.center;
  margin-top: 1.5rem;
  position: relative;
  img {
    width: 100%;
    border-radius: variables.$radius;
  }

  &_info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 1.5rem;

    @media (min-width: 768px) {
      max-width: 237px;
      margin-left: 3.875rem;
      top: 50%;
      transform: translateY(-50%);
    }

    @media (min-width: 992px) {
      margin-left: 5.93rem;
    }

    h3 {
      @include mixins.h3;
      margin-bottom: 0;
      margin-top: 0;
    }

    button {
      @include mixins.transparentButton;
    }
  }
}
