@use "../../Styles/mixins.scss";
@use "../../Styles/variables.scss";

.zx9 {
  @include mixins.center;

  &Container {
    background-color: variables.$light-brown;
    background-image: url("../../Assets/Images/pattern-circles.svg");
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: 50% 136%;
    text-align: center;
    border-radius: variables.$radius;
    padding-top: 5rem;
    padding-bottom: 3rem;
    color: variables.$white;
    overflow: hidden;

    @media (min-width: 992px) {
      display: flex;
      background-size: 90%;
      background-position: -150% 10%;
      padding-top: 2rem;
      justify-content: space-between;
    }

    img {
      width: 50%;
      max-width: 207px;

      @media (min-width: 768px) {
        max-width: 237px;
      }

      @media (min-width: 992px) {
        max-width: 480px;
        width: 80%;
        position: relative;
        bottom: -14%;
        left: 15%;
      }
    }

    h2 {
      @include mixins.h2;
      margin-bottom: 1.5rem;
      span {
        display: block;

        @media (min-width: 768px) {
          margin-top: 1rem;
        }
      }

      @media (min-width: 768px) {
        font-size: 3.5rem;
      }
    }

    p {
      @include mixins.text;
      color: variables.$light-grey;
      opacity: 0.75;
      max-width: 320px;
      margin: 0 auto;

      @media (min-width: 768px) {
        max-width: 349px;
      }
    }

    button {
      @include mixins.blackButton;

      &:hover {
        @include mixins.transition;
        background-color: variables.$greyButton;
      }
    }
  }

  &_infoContainer {
    @media (min-width: 992px) {
      text-align: left;
      transform: translateY(10%);
    }
  }
}
