@use "../../Styles/mixins.scss";
@use "../../Styles/variables.scss";

.inTheBoxItem {
  display: grid;
  grid-template-columns: 2rem 1fr;

  @include mixins.text;
  &_qty {
    color: variables.$light-brown;
    font-weight: 700;
  }

  &_item {
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.5);
  }
}
