@use "../../Styles/mixins.scss";
@use "../../Styles/variables.scss";

.heading {
  background-color: variables.$black;
  padding: 1.23rem;
  margin-bottom: 10rem;

  @media (min-width: 768px) {
    padding: 6.5625rem 15.125rem 6.0625rem;
  }

  h3 {
    @include mixins.h3;
    color: variables.$light-grey;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;

    @media (min-width: 768px) {
      font-size: 2.5rem;
    }
  }
}
