@use "../../Styles/mixins.scss";
@use "../../Styles/variables.scss";

.heading {
  background-color: variables.$black;
  padding: 1rem;

  h4 {
    @include mixins.h4;
    color: variables.$light-grey;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}
