@use "../../Styles/mixins.scss";
@use "../../Styles/variables.scss";

.checkout {
  @include mixins.center;
  background-color: variables.$white;

  &_inputContainer_outer {
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }

  &_inputContainer {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
  }

  &_inputContainer_phone {
    @media (min-width: 768px) {
      width: 49.5%;
    }
  }

  &_labelContainer {
    display: flex;
    justify-content: space-between;
  }

  &_errorMessage {
    @include mixins.inputError;
  }

  &_label {
    @include mixins.inputLabel;
  }

  &_input {
    @include mixins.input;
  }

  .invalid {
    border: 1px variables.$inputError solid;
  }

  &_radioContainer_outer {
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      width: 48.5%;
      margin-left: auto;
    }
  }

  &_radioContainer {
    margin-top: 0.55rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1.125rem;
    padding-bottom: 1.125rem;
    padding-left: 1rem;
    border: 1px solid variables.$inputBorder;
    border-radius: variables.$radius;

    span {
      font-size: 14px;
      line-height: 19.12px;
      letter-spacing: -0.25px;
      font-weight: 700;
    }
  }

  &_eMoneyContainer {
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 0.5fr);
      gap: 1rem;
    }
  }

  &_paymentLabel {
    display: flex;
    gap: 1rem;
  }

  h3 {
    @include mixins.h3;
    margin-bottom: 2rem;
  }

  legend {
    color: variables.$light-brown;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 0.93px;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  fieldset {
    border: none;
    padding: 0;
  }

  ::placeholder {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.25px;
    color: variables.$black;
    opacity: 0.4;
  }

  input:focus {
    outline: 1.25px solid variables.$light-brown;
  }

  input[type="radio"]:after {
    content: "";
    position: relative;
    width: 8px;
    height: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    display: block;
    visibility: visible;
    border-radius: 50%;
  }

  input[type="radio"]:focus {
    outline: 0;
  }

  input[type="radio"]:checked:after {
    content: "";
    position: relative;
    width: 8px;
    height: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: variables.$light-brown;
    display: block;
    visibility: visible;
    border-radius: 8px;
    outline: none;
  }

  &_codContainer {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: center;
      gap: 2rem;
    }

    div {
      text-align: center;
    }

    p {
      @include mixins.text;
      color: variables.$black;
      opacity: 0.5;
    }
  }
}
