@use "../../Styles/mixins.scss";
@use "../../Styles/variables.scss";

.navbar {
  background-color: variables.$light-black;
  color: variables.$white;
  padding: 2.12rem 0;
  position: relative;
  z-index: 500;

  &_headerContainer {
    @include mixins.center;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      border: none;
      background: none;
      cursor: pointer;
    }
  }

  &_leftContainer {
    display: flex;
    justify-content: space-between;

    @media (min-width: 992px) {
      button {
        display: none;
      }
    }
  }

  &_linkContainer {
    display: none;

    @media (min-width: 992px) {
      display: flex;
      gap: 34px;
    }
  }

  &_link {
    color: variables.$white;
    font-size: 13px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;

    &:hover {
      @include mixins.transition;
      color: variables.$light-brown;
    }
  }
}
