@use "../../Styles/mixins.scss";
@use "../../Styles/variables.scss";

.navbar {
  background-color: variables.$black;
  color: variables.$white;
  padding: 2rem 0;

  &_headerContainer {
    @include mixins.center;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      margin: 0;
    }
  }
}
