@use "../../Styles/mixins.scss";
@use "../../Styles/variables.scss";

.productDetailSm {
  @include mixins.center;
  margin-bottom: 7.5rem;

  &_container {
    text-align: center;
  }

  &_price {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1.285px;
    color: variables.$black;
    margin-top: 1.75rem;
  }

  &_purchaseContainer {
    display: flex;
    align-items: center;
    margin-top: 2rem;
  }

  &_qtContainer {
    margin-right: 1rem;
  }

  &_qtUp,
  &_qtDown {
    @include mixins.qtyButtons;
    padding: 1.016rem 1.568rem;
  }

  &_qt {
    @include mixins.qty;
    padding-top: 1.016rem;
    padding-bottom: 1.016rem;
  }

  h6 {
    @include mixins.newProduct;
    color: variables.$light-brown;
    margin-top: 2rem;
    margin-bottom: 1.95rem;
  }

  img {
    width: 100%;
    border-radius: 8px;
  }

  h4 {
    @include mixins.h4;
  }

  p {
    @include mixins.text;
    color: variables.$black;
    font-weight: 500;
    margin-bottom: 1.75rem;
    margin-top: 1.75rem;
    font-size: 15px;
    line-height: 25px;
    opacity: 0.5;
    mix-blend-mode: normal;
  }

  button {
    @include mixins.orangeButton;
  }
}

#productDetailSm_addToCart {
  margin-top: 0;
}
