@use "../../Styles/mixins.scss";
@use "../../Styles/variables.scss";

.features {
  @include mixins.center;
  margin-top: 5.5rem;
  margin-bottom: 5.5rem;

  &_title {
    @include mixins.h4;
  }

  p {
    @include mixins.text;
    color: rgba(0, 0, 0, 0.5);
  }
}
