@use "../../Styles/mixins.scss";
@use "../../Styles/variables.scss";

.footer {
  background-color: variables.$main-black;
  text-align: center;
  @include mixins.center;
  margin-top: 7.5rem;

  &_container {
    padding-bottom: 2rem;
  }

  &_links {
    color: variables.$grey;
    list-style: none;
    padding-left: 0;
    text-transform: uppercase;
    font-weight: 600;

    li {
      line-height: 50px;
      letter-spacing: 1.5px;
      font-size: 13px;
    }
  }

  img {
    margin-bottom: 1rem;
    margin-top: 3.25rem;
  }

  &_text {
    @include mixins.text;
    color: variables.$dark-grey;
    font-weight: 500;
    font-size: 15px;
  }

  &_copyright {
    color: variables.$dark-grey;
    font-weight: 600;
    margin-top: 2.5rem;
    font-size: 15px;
  }

  &_iconContainer {
    max-width: 105px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 50%;
    padding-left: 0;
  }
}
