@use "../../Styles/variables.scss";
@use "../../Styles/mixins.scss";

.cartModal {
  @include mixins.modal;

  &_backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
  }

  &_closeBtn {
    @include mixins.closeButton;
    position: absolute;
    right: 0;
    padding-right: 2rem;
  }

  &_emptyMsg {
    color: variables.$black;
    opacity: 0.5;
    text-align: center;
    font-size: 1.15rem;
  }

  &_headingContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 1.25rem;

    h5 {
      @include mixins.h5;
    }

    button {
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
      text-decoration: underline;
      font-weight: 500;
      font-size: 15px;
      line-height: 25px;
      opacity: 0.5;
      color: variables.$black;
    }
  }

  &_totalContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }

  &_total {
    color: variables.$black;
    opacity: 0.5;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
  }

  &_totalPrice {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
  }

  &_checkoutBtn {
    @include mixins.orangeButton;
    width: 100%;
  }
}
