@use "../../Styles/variables.scss";
@use "../../Styles/mixins.scss";

.cartModal {
  @include mixins.modal;
  max-width: 377px;

  @media (min-width: 768px) {
    top: 12%;
    transform: translateX(-20%);
  }

  @media (min-width: 992px) {
    top: 12%;
    left: 60%;
  }

  &_closeBtn {
    @include mixins.closeButton;
    position: absolute;
    right: 0;
    padding-right: 2rem;
  }

  &_emptyMsg {
    color: variables.$black;
    opacity: 0.5;
    text-align: center;
    font-size: 1.15rem;
  }

  &_headingContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: variables.$black;
    margin-bottom: 1rem;

    h5 {
      @include mixins.h5;
      margin: 0;
    }

    button {
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
      text-decoration: underline;
      font-weight: 500;
      font-size: 15px;
      line-height: 25px;
      opacity: 0.5;
      color: variables.$black;
    }
  }

  &_totalContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }

  &_total {
    color: variables.$black;
    opacity: 0.5;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
  }

  &_totalPrice {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
  }

  &_checkoutBtn {
    @include mixins.orangeButton;
    width: 100%;
  }
}
