@use "../../Styles/variables.scss";

.shopProduct {
  position: relative;
  margin-top: 5rem;

  @media (min-width: 768px) {
    width: 33%;
    margin-top: 1rem;
  }

  &_img {
    width: 40%;
    max-width: 147px;
    position: absolute;
    translate: -50% -35%;

    @media (min-width: 768px) {
      width: 65%;
      max-width: 187px;
    }
  }

  &_detailContainer {
    background-color: variables.$grey;
    border-radius: variables.$radius;
    padding: 4rem 2rem 1.5rem;

    h5 {
      font-size: 15px;
      text-transform: uppercase;
      letter-spacing: 1.07px;
      font-weight: 700;
      margin-top: 1.5rem;
      margin-bottom: 1rem;
      line-height: 20px;
    }

    p {
      color: variables.$dark-grey;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 1.2px;
      font-size: 15px;

      span {
        margin-left: 0.7rem;
      }
    }
  }
}
