@use "../../Styles/mixins.scss";
@use "../../Styles/variables.scss";

.yx1 {
  @include mixins.center;
  margin-top: 1.5rem;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6875rem;
  }

  @media (min-width: 992px) {
    gap: 1.875rem;
    margin-bottom: 12rem;
  }

  &_infoContainer {
    margin-top: 1.5rem;
    background-color: variables.$grey;
    border-radius: variables.$radius;
    padding-top: 1rem;
    padding-bottom: 2rem;
    position: relative;

    h4 {
      margin-bottom: 2rem;
    }

    @media (min-width: 768px) {
      margin-top: 0;

      h4 {
        margin-top: 0;
      }
    }
  }

  &_info {
    margin-left: 26px;
    @media (min-width: 768px) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    @media (min-width: 992px) {
      margin-left: 5.93rem;
    }
  }

  img {
    width: 100%;
    border-radius: variables.$radius;
  }

  h4 {
    @include mixins.h3;
  }

  button {
    @include mixins.transparentButton;
    margin-top: 0;

    &:hover {
      @include mixins.transition;
      background-color: variables.$black;
      color: variables.$white;
    }
  }
}
